.faq-wrapper{
    align-items: baseline;
    text-align: center;
    width: 100vw;
    margin: 10px;
}
.icon::before{
    content: "+";
    position: absolute;
    left: -15px;
    top: 40%;
    font-size: 20px;
    color: #3d2277;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #d7dff4;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    transition: top .5s ease;
    z-index: 1000;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
}
.icon.expanded::before{
    content: "-";
    top: 30%;
    background: #3d2277;
    color: #d7dff4;
    line-height: 26px;
}
.question{
    cursor: pointer;
}
.faq-title{
    color:#2e3192;
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}
.discription{
    /* display: none; */
    position: absolute;
    /* display: none; */
    transform: scaleY(0);    
    transform-origin: top;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.discription p{
    margin: 5px 0px;
}
.discription.expanded{
    /* display: block; */
    position: relative;
    display: block;
    transform: scaleY(1);
}
.discription p{
    display: none;
}
.discription.expanded p{
    line-height: 24px;
    font-size: 14px;
    display: block;
}
.question-wrapper{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border: none;
    border-radius: 4px;
    padding: 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    text-align: left;
    width: 65%;
    margin: 10px auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.question-wrapper.expanded{
    background-color: #d7dff4;
    border: none;
    box-shadow: none;
    color: #2e3192;
    /* max-height: auto; */
}
.card-wrapper{
    /* max-height: 60px;
    -webkit-transition: all 1s linear 0s;
    transition: all 1s linear 0s; */
}
.card-wrapper.expanded{
    /* max-height: auto; */
}